# Pandas - Introduction

This notebook is the first part of the collection devoted to the pandas library.
It presents the basic objects

In [1]:
import jupy_helpers
from IPython.display import display

In [2]:
# Start using pandas (default import convention)
import pandas as pd
import numpy as np

In [3]:
# Let pandas speak for themselves
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, moving window linear regressions,
    date shifting and lagging, etc.

Visit the official website: https://pandas.pydata.org

In [4]:
# Current version (should be 0.24 in 2019)
print(pd.__version__)

0.24.2

## Basic objects

The **pandas** library has a vast API with many useful functions. However, most of this revolves
around two important classes:

* Series
* DataFrame

In this introduction, we will focus on them - what each of them does and how they relate to each other
and numpy objects.

### Series

Series is a one-dimensional data structure, central to pandas. 

For a complete API, visit https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

In [5]:
# My first series
series = pd.Series([1, 2, 3])
series

0    1
1    2
2    3
dtype: int64

This looks a bit like a Numpy array, does it not?

Actually, in most cases the Series wraps a Numpy array...

In [6]:
series.values  # The result is a Numpy array

array([1, 2, 3])

...and if we construct the series from a numpy array, it wraps it directly.

In [7]:
zeros_array = np.zeros(10)

# We check object identity
pd.Series(zeros_array).values is zeros_array

True

But there is something more. Alongside the values, we see that each item (or "row") has a certain label. The collection of lables is called **index**.

In [8]:
series.index

RangeIndex(start=0, stop=3, step=1)

This index (see below) can be used, as its name suggests, to index items of the series.

In [10]:
# Return an element from the series
series.loc[1]

2

In [11]:
# Construction from a dictionary
series_ab = pd.Series({"a": 2, "b": 4})
series_ab

a    2
b    4
dtype: int64

**Exercise**: Create a series with 5 elements.

In [15]:
%exercise

result = pd.Series(np.ones((5,)))
result

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [16]:
%validate
assert len(result) == 5

### DataFrame

A **DataFrame** is pandas' answer to Excel sheets - it is a collection of columns (or, in our case, a collection of **Series**).
Quite often, we directly read data frames from an external source, but it is possible to create them from:
* a dict of Series, numpy arrays or other array-like objects
* from an iterable of rows (where rows are Series, lists, ...)

In [17]:
# List of lists
table = [
    ['a', 1],
    ['b', 3],
    ['c', 5]
]
table_df = pd.DataFrame(table)
table_df

   0  1
0  a  1
1  b  3
2  c  5

In [18]:
# Dict of Series
df = pd.DataFrame({
    'number': pd.Series([1, 2, 3, 4], dtype=np.int8),
    'letter': pd.Series(['a', 'b', 'c', 'd'])
})
df

   number letter
0       1      a
1       2      b
2       3      c
3       4      d

In [19]:
# Numpy array (10x2), specify column names
data = np.random.normal(0, 1, (10, 2))

df = pd.DataFrame(data, columns=['a', 'b'])
df

          a         b
0  1.171727  0.099307
1  0.460973 -0.064566
2  0.787156  0.692309
3 -0.298704  0.781326
4  0.207996  0.370149
5 -0.564551  1.004283
6  0.371315  1.693057
7 -0.595349  0.131061
8  1.067751  0.303315
9 -0.098202 -0.710987

In [20]:
# A DataFrame also has an index...
df.index

RangeIndex(start=0, stop=10, step=1)

In [22]:
# ...that is shared by all columns
df.index is df["a"].index

True

## D(ata) types

Pandas builds upon the numpy data types (mentioned earlier) and adds a couple of more.

In [23]:
typed_df = pd.DataFrame({
  "bool": np.arange(5) % 2 == 0,
  "int": range(5),
  "int[nan]": pd.Series([np.nan, 0, 1, 2, 3], dtype="Int64"),
  "float": np.arange(5) * 3.14,
  "object": [None, 1, "2", 3.0, 4 + 1j],
  "string?": ["a", "b", "c", "d", "e"],
  "datetime": pd.date_range('2018-01-01', periods=5, freq='3M'),
  "timedelta": pd.timedelta_range(0, freq="1s", periods=5),
  "category": pd.Series(["animal", "plant", "animal", "animal", "plant"], dtype="category")
})
typed_df

    bool  int  int[nan]  float  object string?   datetime timedelta category
0   True    0       NaN   0.00    None       a 2018-01-31  00:00:00   animal
1  False    1         0   3.14       1       b 2018-04-30  00:00:01    plant
2   True    2         1   6.28       2       c 2018-07-31  00:00:02   animal
3  False    3         2   9.42       3       d 2018-10-31  00:00:03   animal
4   True    4         3  12.56  (4+1j)       e 2019-01-31  00:00:04    plant

In [24]:
typed_df.dtypes

bool                    bool
int                    int64
int[nan]               Int64
float                float64
object                object
string?               object
datetime      datetime64[ns]
timedelta    timedelta64[ns]
category            category
dtype: object

We will see some of the types practically used in further analysis.

## Indices & indexing

In [25]:
abc_series = pd.Series(range(3), index=["a", "b", "c"])
abc_series

a    0
b    1
c    2
dtype: int64

In [26]:
abc_series.index

Index(['a', 'b', 'c'], dtype='object')

In [28]:
abc_series.index = ["c", "d", "e"]  # Changes the labels in-place!
abc_series.index.name = "letter"
abc_series

letter
c    0
d    1
e    2
dtype: int64

In [29]:
table = [
    ['a', 1],
    ['b', 3],
    ['c', 5]
]
table_df = pd.DataFrame(
    table,
    index=["first", "second", "third"],
    columns=["alpha", "beta"]
)
table_df

       alpha  beta
first      a     1
second     b     3
third      c     5

In [30]:
alpha = table_df["alpha"]  # Simple [] indexing in DataFrame returns Series
alpha

first     a
second    b
third     c
Name: alpha, dtype: object

In [31]:
alpha["second"]             # Simple [] indexing in Series returns scalar values.

'b'

In [32]:
alpha.second   # This also works

'b'

but careful!

In [33]:
alpha.first

<bound method NDFrame.first of first     a
second    b
third     c
Name: alpha, dtype: object>

A slice with a `["list", "of", "columns"]` yields a `DataFrame` with those columns. 

For example:

In [35]:
table_df[["beta", "alpha"]]

        beta alpha
first      1     a
second     3     b
third      5     c

`[["column_name"]]` returs a `DataFrame` as well, not `Series`:

In [36]:
table_df[["alpha"]]

       alpha
first      a
second     b
third      c

There are two ways how to properly index rows & cells in the DataFrame:

- `loc` for label-based indexing
- `iloc` for order-based indexing (it does not use the **index** at all)

Note the square brackets. The mentioned attributes actually are not methods
but special "indexer" objects. They accept one or two arguments specifying
the position along one or both axes.

**Exercise:** Create `DataFrame` whose `x`-column is $0, \frac{1}{4}\pi, \frac{1}{2}pi, .. 2\pi $, `y` column is `cos(x)` and index are `fractions` `0, 1/4, 1/2 ... 2`

In [37]:
%exercise

import fractions

index = [fractions.Fraction(n, ___) for n in range(___)]
x = np.___([___ for ___ in ___])
y = ___

df = pd.DataFrame(___, index = ___)

# display
df

TypeError: 'DataFrame' object cannot be interpreted as an integer

In [ ]:
%validate

np.allclose(df.loc[fractions.Fraction(3, 2)], [fractions.Fraction(3, 2) * np.pi, 0])

#### loc

In [39]:
table_df

       alpha  beta
first      a     1
second     b     3
third      c     5

In [40]:
first = table_df.loc["first"]
first

alpha    a
beta     1
Name: first, dtype: object

In [41]:
table_df.loc["first", "beta"]

1

In [42]:
table_df.loc["first":"second", "beta"]   # Use ranges (inclusive)

first     1
second    3
Name: beta, dtype: int64

#### iloc

In [43]:
table_df.iloc[1]

alpha    b
beta     3
Name: second, dtype: object

In [44]:
table_df.iloc[0:4:2]   # Select every second row

      alpha  beta
first     a     1
third     c     5

In [45]:
table_df.at["first", "beta"]

1

In [46]:
type(table_df.at)

pandas.core.indexing._AtIndexer

## Modifying DataFrames

Adding a new column is like assigning to adding a key/value pair to a dict.
Note that the operation, unlike most others, does modify the DataFrame.

In [47]:
from datetime import datetime
table_df["now"] = datetime.now()
table_df

       alpha  beta                        now
first      a     1 2019-06-16 15:19:54.005488
second     b     3 2019-06-16 15:19:54.005488
third      c     5 2019-06-16 15:19:54.005488

Non-destructive version that returns a new DataFrame, uses the `assign` method:

In [48]:
table_df.assign(delta = [True, False, True])

       alpha  beta                        now  delta
first      a     1 2019-06-16 15:19:54.005488   True
second     b     3 2019-06-16 15:19:54.005488  False
third      c     5 2019-06-16 15:19:54.005488   True

In [49]:
# However, the original DataFrame is not changed
table_df

       alpha  beta                        now
first      a     1 2019-06-16 15:19:54.005488
second     b     3 2019-06-16 15:19:54.005488
third      c     5 2019-06-16 15:19:54.005488

Deleting a column is very easy too.

In [50]:
del table_df["now"]
table_df

       alpha  beta
first      a     1
second     b     3
third      c     5

The **drop** method works with both rows and columns

In [51]:
table_df.drop("beta", axis=1)

       alpha
first      a
second     b
third      c

In [52]:
table_df.drop("second", axis=0)

      alpha  beta
first     a     1
third     c     5

In [53]:
table_df

       alpha  beta
first      a     1
second     b     3
third      c     5

In [54]:
pd.DataFrame({'index': table_df.index}, index=table_df["alpha"])

        index
alpha
a       first
b      second
c       third

**Exercise:** Use a combination of `reset_index`, `drop` and `set_index` to transform `table_df` into `pd.DataFrame({'index': table_df.index}, index=table_df["alpha"])`

In [66]:
%exercise

results = table_df.reset_index().set_index("alpha").drop("beta", axis=1)

# display
results

        index
alpha
a       first
b      second
c       third

In [65]:
%validate

pd.testing.assert_frame_equal(result, pd.DataFrame({'index': table_df.index}, index=table_df["alpha"]))

AssertionError: DataFrame Expected type <class 'pandas.core.frame.DataFrame'>, found <class 'pandas.core.series.Series'> instead

---
**Let's get some data!**